@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  margin: 0;
  //background-color:	#F5F5F5;
  background-image: url('./assets/book2.jpg');
  background-size: cover;
  background-position: center center; /* Center the image horizontally and vertically */
  background-repeat: no-repeat;
}

router-outlet + *  {
  padding: 0 16px;
}

