.outer {
  display: flex;
  flex-wrap: wrap;

  .books {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;

    .cards {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 200px;
      cursor: pointer;
      overflow-y: auto;
      background-color: #FFFBE9;

      mat-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

mat-card {
  border-radius: 15px;
}

.cards p {
  color: #717274;
  cursor: default;
  font-family: Lato,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify
}

button {
  color: #ffcdd2;
}

mat-card-subtitle{
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--font-sans);
  width: 100%;
  z-index: 100;
  font-size: 13px;
  letter-spacing: .075em;
  background-color: var(--color-softGreen);
  transform: translateY(0);
  transition: transform .3s;

}

mat-card-title{
  font-family: 'Playfair Display', serif;
}
